cpusummary              user:COUNTER:U:U, nice:COUNTER:U:U, system:COUNTER:U:U, idle:COUNTER:U:U, iowait:COUNTER:U:U, irq:COUNTER:U:U, softirq:COUNTER:U:U, cpucount:GAUGE:U:U
rabbitmq_messages	value:GAUGE:0:U rate:GAUGE:0:U
rabbitmq_messages_unacknowledged	value:GAUGE:0:U rate:GAUGE:0:U
rabbitmq_messages_ready		value:GAUGE:0:U rate:GAUGE:0:U
rabbitmq_publish	value:GAUGE:0:U rate:GAUGE:0:U
rabbitmq_memory		value:GAUGE:0:U
rabbitmq_consumers	value:GAUGE:0:U
rabbitmq_deliver_no_ack	value:GAUGE:0:U
rabbitmq_deliver_get	value:GAUGE:0:U
